body {
    background: #d6e6f9 !important;
}

.container {
    padding-left: 15px !important;
    padding-right: 15px !important;
    max-width: 1200px !important;
}

.calendar-wrapper, #eventManagePanel {
    background: #fff;
}

#eventManagePanel {
    /* display: block; */
    overflow: auto;
}

.todo-input>span {
    font-size: 26px !important;
}

#editName, #editCategory, #inpEvent, #inpCategory, .shortListBtn {
    border: none !important;
    border-radius: 0 !important;
    font-size: 18px !important;
    color: #6c757d !important;
}

#editDate, #editTime, #dateInput, #timeInput {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #dcdddf;
    border-radius: 0 !important;
    font-size: 18px !important;
    color: #6c757d !important;
}

/* FullCalendar */

.btn-primary {
    background-color: #007bff !important;
    border-color: #007bff !important;
}

.fc-event-title-container, .fc-event-main-frame, .fc-event-future {
    background-color: #58cb7d!important;
    border-color: #58cb7d !important;
}

.fc-day-other {
    background-color: #f8f7f8 !important;
}

.fc-toolbar-title {
    text-transform: capitalize;
    font-weight: bold;
}

.calendar__btnBox {
    background: #fff;
    text-align: center;
    cursor: pointer;
}

.arrowBtn {
    transition: transform linear 0.5s;
}

.arrowBtn-rev {
    transform: rotate(180deg);
}

.category__select {
    outline: none !important;
}

.strike {
    text-decoration: line-through;
}

.material-icons {
    cursor: pointer;
}

th, td {
    text-align: center;
    border: 1px solid #efefef;
    padding: 5px;
}

th {
    background-color: #f8f7f8 !important;
}

#sortByDate {
    display: block;
    width: 100%;
}

.todo-input {
    display: grid;
    row-gap: 1rem;
}

.todoTable-block {
    margin-top: 1rem;
}

.pagination-pages {
    text-align: right;
}

.pagination-pages>* {
    margin-right: 0.5rem;
    cursor: pointer;
}

.material-icons {
    cursor: pointer;
}

input {
    color: #00467A;
}

h3 {
    color: #E2E9EF;
    font-family: "rowdies", cursive;
    padding: 1rem;
    background-color: #00467A;
    border-radius: 10px;
}

.todo-block {
    padding: 1rem;
    border-radius: 20px;
}

#date, #time, #nazva, #allCategory {
    color: white;
}

#categoryFilter {
    border-radius: 10px;
}

#done {
    min-width: 75px;
}

#nazva {
    min-width: 280px;
}

#edit {
    min-width: 110px;
}

#delete {
    min-width: 110px;
}

#allCategory {
    min-width: 280px;
}

#date {
    min-width: 160px;
}

#time {
    min-width: 70px;
}

#todoTable {
    margin-top: 1rem;
}

button:hover {
    background-color: #01467A;
}

.chevron {
    transform: translateY(0.4rem);
}

.itemsPerPage {
    text-align: right;
    margin-bottom: 0.5rem;
}

#inpEvent, #inpCategory, #dateInput, #timeInput {
    border-radius: 5px;
}

.flexContainer {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 -15px;
}

.panel {
    width: 100%;
}

.calendar-wrapper {
    margin: 0 15px;
    width: 100%;
}

.fc-button {
    padding: 0 5px!important;
}

.fc .fc-button {
    font-size: 0.8em!important;
}

.table-wrapper {
    overflow: auto;
    width: 100%;
}

.start, .start2 {
    position: absolute;
    left: 10000px;
}

.animTarget {
    display: none;
}

.fa-leave {
    /* Резервный клас для других свойств, которые в значении по умолчанию не удовлетворяют */
}

.fa-leave-active {
    transition: opacity 1s, transform 1s;
    transform: translateX(100px);
    opacity: 0;
}

.fa-leave-to {
    /* Резервный клас для конечых значений active - промежуточный */
}

.fa-enter {
    transform: translateX(-100px);
    opacity: 0;
}

.fa-enter-active {
    transition: opacity 1s, transform 1s;
}

.fa-enter-to {
    /* Резервный клас для конечых значений active - промежуточный */
}

/* ---------------------------------------------------------------------------- */

.animTarget-anim {
    display: none;
}

.fa-leave-anim {}

.fa-leave-active-anim {
    /* forwards для IE */
    animation: niceOut 0.7s linear forwards;
}

.fa-leave-to-anim {}

.fa-enter-anim {
    /* Запрещаем рендер до начала анимации */
    visibility: hidden;
}

.fa-enter-active-anim {
    animation: niceIn 0.7s linear;
}

.fa-enter-to-anim {}

.start-popupWindow, .start2-popupWindow {
    width: 25% !important;
}

@keyframes niceIn {
    from {
        transform: translateX(-400px) scale(0.7);
        opacity: 0;
    }
    to {
        transform: translateX(0px) scale(1);
        opacity: 1;
    }
}

@keyframes niceOut {
    from {
        transform: translateX(0px) scale(1);
        opacity: 1;
    }
    to {
        transform: translateX(400px) scale(0.7);
        opacity: 0;
    }
}

@media screen and (max-width: 1200px) {
    .fc .fc-toolbar {
        flex-direction: column!important;
    }
    .fc-toolbar-title {
        margin: 15px !important;
    }
    .start-popupWindow, .start2-popupWindow {
        width: 40% !important;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 1200px !important;
    }
    .flexContainer {
        flex-wrap: wrap;
    }
    .panel {
        order: 2;
        width: 100%;
    }
    .calendar-wrapper {
        order: 1;
        width: 100%;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 768px) {
    .fc .fc-daygrid-week-number {
        display: none!important;
    }
    .start-popupWindow, .start2-popupWindow {
        width: 60% !important;
    }
}

@media screen and (max-width: 520px) {
    .btn-primary {
        font-size: 8px !important;
    }
    .start-popupWindow, .start2-popupWindow {
        width: 100% !important;
        height: 100vh;
    }
}